.carrosel__titulo{
    color: var(--cor-laranja);
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1em 0 0.5em 0;
    background-color: var(--cor-de-fundo-cabecalho);
    text-align: center;

}

.swiper-slide img{
    width: 100%;
}

.swiper-button-prev , .swiper-button-next{
    display: none;
}

.swiper-pagination{
    position:initial;
    margin: .5em 0;
}

.card{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;  
    margin: 1em;
    padding: 1em;  
}

.card__descricao{
    display: flex;
    justify-content: space-between;
    margin: 0.5em;
}

.descricao__titulo{
    color: var(--cor-laranja);
    font-size: 16px;
    font-weight: 700;
}

.descricao__livro{
    color: var(--cor-azul2);
    font-size: 18px;
    font-weight: 700;
    margin:  1em 0;
}

.descricao__texto{
    font-size: 14px;
}

.descricao__imagem{
    margin: 0 0  1em 1em;
}

.botoes{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__botoes{
    display: flex;
    justify-content: space-between;
    
}

.botoes__ancora{
    background-color: var(--cor-laranja);
    color: var(--cor-de-fundo-cabecalho);
    padding: 1em 2.6em;
    font-weight: 700;
    text-decoration: none;
    border-radius: 15px;
}

@media screen and (min-width:1024px){

    .carrosel__titulo{
        font-size: 26px;
        
    }

    .swiper-pagination{
        margin: 2em 0 3em 0;
    }


    
    .swiper{
        
        width: 60%;
        
    }

    .swiper-button-prev,.swiper-button-next{
        display: block;
        top: 60%;
    }

    .card{
        margin: 2em auto;
        width: 40%;

    }


    
    
}

@media screen and (min-width:1728px){
    .carrosel__titulo{
        padding-top: 2em;
        font-size: 32px;
    }

    .carrosel__container{
        display: flex;
        margin: 0 20vw 3em 20vw;
        align-items: center;
    }

    .swiper-pagination{
        margin: 1em 0 1em 0;
    }


    .swiper{
        width: 50%;
        
    }

    .card{
        width: 60%;
        margin-left: 3em;
    }

    .descricao__titulo{
        font-size: 32px;
    }

    .descricao__texto{
        font-size: 16px;
    }
    
}